body {background-image: url("Captain Fantastic Full Album Art.jpg"); 
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1000px 400px;
	margin-top: 450px;
	background-color:#FFFACD}

h1 {font-family: 'IM Fell English', serif; text-align: center; font-style: italic; }
h2 {font-family: 'IM Fell English', serif; text-align: center; font-style: italic;}

