/* mouse over link */
a {text-decoration: none}
a:hover {text-decoration: underline; background-color: brown; }
div.image {content:url("Captain Fantastic Full Album Art.jpg"); 
height: 450px; width: 950px; 
float: center; 
border-left: 325px solid black;border-right: 300px solid black;}
body {background-color: #FFFACD}

h1 {font-family: 'IM Fell English', serif; text-align: center; 
    font-style: italic; }
h2 {font-family: 'IM Fell English', serif; text-align: center; 
    font-style: italic;}
th { background-color: brown; font-style: normal; font-family: 'IM Fell English', serif;}
tr {background: #466368; background: radial-gradient(#648880, #293f50); 
	font-style: italic;}
caption {font-family: 'IM Fell English', serif;
}
	
