h1 {font-size: 60px; font-style: cursive; font-family:oblique; color:#A52A2A;
	border-style: ridge;border-width: 10px; background-color: #FFCF75; border-color: red}
body {background-color: #FF8C00;}
footer {font-weight: bold; 
	position: static; bottom: 0; width: 100%; height: 60px;
	background-color: #FFCF75; 
	border-style: ridge;border-width: 5px; border-color: red;
	padding-top: 20px;}
img {padding: 1px; border:1px solid #021a40; text-align: center;}
hr {border-color: black}