a:link{color: white; text-decoration: underline;}
a:visited {color:black;}
a:hover {font-weight: bold;}
/* selected link*/
a:active {text-decoration: none;}
h1 {font-size: 60px;font-family:'Arima Madurai', cursive; 
    color:#A52A2A;
	border-style: ridge;border-width: 10px; background-color: #FFCF75; 
	border-color: red}
body {background-color: #FF8C00;}
footer {font-weight: bold; 
	position: static; bottom: 0; width: 100%; height: 60px;
	background-color: #FFCF75; 
	border-style: ridge;border-width: 5px; border-color: red;
	padding-top: 20px;}
img {padding: 1px; border:1px solid #021a40; text-align: center;}
hr {border-color: black}
a {color: pink;}
h3{color: red}
h2 {color:red; font-weight: bold; font-size: 50px; background-color:#ffcccc; font-family: cursive; }
.carousel-inner > .item > img {
    margin: 0 auto;
